.footer {
    display: flex;
    font-size: large;
    width: 100%;
    color: aqua;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    bottom: 0;



    a {

        width: 4rem;
        height: 4rem;
        height: auto;

        img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

body {
    display: flex;
    flex-direction: column;
}